.high-contrast #main {
    background-color: #36454F; /* keep light background for sim area */
    color: black;
  }
 
  .high-contrast #sim-container {
    background-color: #36454F; /* slight gray contrast */
  }
 
  .high-contrast #sim-placeholder {
    border-color: #36454F;
    color: #36454F;
  }

 
  .toggle-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.toggle-label {
  font-size: 0.95rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0;
  right: 0; bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #1b2227;
}

input:checked + .slider::before {
  transform: translateX(24px);
}
