/*to allow for darkmode


/* Whole page background */
body.high-contrast {
  background: #1b2227;   /* background */
  color: #eee;           /* text */
}

/* Sidebar */
body.high-contrast #sidebar {
  background: #222;       /* sidebar */
  color: #eee;            /* text */
  border-right: 1px solid #444;
}

/* Footer */
body.high-contrast #footer {
  background: #222;       /* footer */
  color: #ccc;            /* text */
}

/* Debug log */
body.high-contrast #debug-log {
  background: #000;       /* black log background */
  color: #0f0;            /* green terminal text */
}

/* Simulation area */
body.high-contrast #main {
  background-color: #36454F; 
  color: black;
}
body.high-contrast #sim-container {
  background-color: #36454F;
}
body.high-contrast #sim-placeholder {
  border-color: #36454F;
  color: #36454F;
}
